/**********************************
GENERAL
***********************************/

body {
  font-family: 'Open Sans', sans-serif;
  
}

a, a.selected {
  text-decoration: none;
}

.containter{
  height: max 100%;
  /*background: -webkit-linear-gradient(black, white); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(black, white);  For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(black, white); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(black, white); /* Standard syntax (must be last) */
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%; 
  color: #ffffff;  
  background-image: url("../img/bike.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
  font-size: 16px;
  
}

#logo {
  text-align: center;
  margin: 0; 
  text-align: center;
  text-decoration: none; 
}


.photo {
 float:left;
 margin-bottom: 2%;
}
.photo a:hover{
  background-color: #ffffff;
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}


/* links */
a {
  color: #6ab47b;
}

/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  height: 100%;
  width: 10%;
  border-radius: 50%;
  display: inline-block;
  background-color: #ffffff;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  padding: 2%;
  padding-right: 90px;
}

nav a {
  font-weight: 800;
  /*padding: 15px 10px;*/
}
/* selected nav link */
nav li a.selected, nav li a:hover {
  color: #32673f;
  font-weight: 900;
  text-decoration: none;
  
}

/*********************************
INDEX
*********************************/
 .profile-photo{
  max-height: 500px;
  max-width: 250px;
  border-radius: 125px;
}
 
/*********************************
**BLOG** INDEX
*********************************/
#web5yrs, #careerPortray{
  display: none;
  padding-bottom: 2%;
}

#wrapper .blog{
  text-align: justify;
}

#blogList{
  text-align: center;
  
}

#blogList a{
  text-decoration: none;
}
/*********************************
**ABOUT
*********************************/
.about-photo{
  float: left;
  max-height: 100%;
  max-width: 98%;
  border-radius: 20px; 
  opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */
}

#wrapper{
  max-width: 900px;
  margin: auto;
  padding: 3%;
}

div .transbox{
  float: right;
  max-width: 500px;
  background-color: white;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  padding: 3%;
  border-radius: 5px;
  color: black;
  -webkit-animation-name: changeColor; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 8s; /* Chrome, Safari, Opera */
    animation-name: changeColor;
    animation-duration: 8s;
}

.transbox p{
  margin:3%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes changeColor {
    0% {background-color: #abebfe;}
    25% {background-color: #aad667;}
    50% {background-color: #57e6ee;}
    /*75% {background-color: #ff7ebb;}*/
    100% {background-color: #fff;}
}

/* Standard syntax */
@keyframes changeColor {
     0% {background-color: #abebfe;}
    25% {background-color: #aad667;}
    50% {background-color: #57e6ee;}
    /*75% {background-color: #ff7ebb;}*/
    100% {background-color: #fff;}
}
 

/*********************************
FOOTER
*********************************/
footer {
  font-size: 14px;
  text-align: center;
  clear: both;
  padding-top: 150px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
                          
#contact{
  margin-top: 5%;
  text-align: center;
}

/**********************************
MOBILE SCREEN
**********************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  
  .photo{
    clear:both;
    text-align: center;
    margin: auto;
  }
  
  .transbox{
    clear: both;
    margin: auto;
  }
  
}
