/**********************************
GENERAL
***********************************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a, a.selected {
  text-decoration: none;
}

.containter{
  height: 60em;;
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%; 
  color: #ffffff;  
  background: url("../img/forest.jpg") repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  font-size: 16px;
  
}

#logo {
  text-align: center;
  text-align: center;
  text-decoration: none; 
}

.wrapper{
  max-width: 900px;
  margin: auto;
  padding: 3%;
  font-size: 16px;
  text-align: justify;
}

/**********************************
NAVIGATION
***********************************/

#menu {
  text-align: center;
  padding: 10px 0;
  margin: auto;
  width:auto;
}

#menu ul li a {
  background-color: #23527C;
  display: block;
  padding: 10%;
  padding-right: 10px;
  border-radius: 2px;
}

#menu ul {
  list-style: none;
  margin: 0 ;
  padding: 0;
  line-height: 1;
  display: block;
}

#menu ul:after{
  content: "";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#menu ul li {
  display: inline-block;
  padding: 0;
  margin: 2px;
}

#menu.align-right ul li{
  float: right;
}

#menu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding-right: 8px;
  padding-left: 8px;
  font-weight: 700;
  position: relative;
  /*-webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;*/
}

#menu ul li a:hover, #menu a.selected {
  color: #333;
  background-color: #fff;
   /*border-bottom: 3px solid #6ab47b;*/
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
 
}

#menu ul li a:hover:before{
  width:100%;
}

#menu ul li a:before{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: #23527C;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}


/*********************************
INDEX
*********************************/
 
#web5yrs, #careerPortray{
  display: none;
  padding-bottom: 2%;
}

#blogList{
  text-align: center;

}

#blogList a{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

#blogList a:hover{
  color: #aad667;
  font-weight: 550;
}


/*********************************
**ABOUT
*********************************/
.photo {
 float: left;
}

.about-photo{
  border-radius: 125px;
  margin-right: 1%;
  margin-top:-7px;
}

/*.photo a:hover{
  background-color: #ffffff;
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */

div .transbox{
  background-color: white;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  padding: 3%;
  border-radius: 5px;
  color: black;
  -webkit-animation-name: changeColor; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 8s; /* Chrome, Safari, Opera */
    animation-name: changeColor;
    animation-duration: 8s;
}

.transbox p{
  margin:3%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes changeColor {
    0% {background-color: #abebfe;}
    25% {background-color: #aad667;}
    50% {background-color: #57e6ee;}
    /*75% {background-color: #ff7ebb;}*/
    100% {background-color: #fff;}
}

/* Standard syntax */
@keyframes changeColor {
     0% {background-color: #abebfe;}
    25% {background-color: #aad667;}
    50% {background-color: #57e6ee;}
    /*75% {background-color: #ff7ebb;}*/
    100% {background-color: #fff;}
}
 

/*********************************
FOOTER
*********************************/
footer {
  font-size: 14px;
  text-align: center;
  clear: both;
  padding-top: 150px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
                          
#contact{
  margin-top: 5%;
  text-align: center;
}
.contactInfo{
  text-align: center;
}

/**********************************
MOBILE SCREEN
**********************************/
@media only screen and (min-device-width :480px) {
  
div .transbox{
    clear: both;
    margin: auto;
  }
  
  .photo {
 clear: both;
 margin: auto;
 text-align: center;
 padding-bottom: 3%;
}

.photo a{
  margin: auto;
}
  
}

@media screen and (max-device-width :120px){
  .transbox{
    max-width: 1000px;
  }
}