.white{
    background-color: teal;
}

.black{
    background-color: lightseagreen;
}

table{
    min-width: 100vh;
    height: 100vh;
    border: 2px solid #d3d3d3;
    color: #FFF;
}

table td:hover{
    opacity: .7;
}