/*--------GENERAL------*/
body {
    font-family: 'Coming Soon', Calibri, Trebuchet, sans-serif !important;
    color: #fff;
  }

#container{
    padding-top: 0;
   padding-left: 3%;
   padding-right: 3%;
    margin: 0 auto;
}

h1{
    text-align: center;
}
body{
	background: #4682b4;
    background: url(../img/stardust.png) repeat;
	font-weight: 600;
}
.material-icons{
	font-size: 20px !important;
    color: #ccc;
}

.doneBtn:hover, .done, .editBtn:hover{
	color: #008080;
    cursor: pointer;
}

.done{
    color: #EE6E73;
}
.delBtn:hover{
	color: #d50000;
    cursor: pointer;
}
.doneBtn, .delBtn, .editBtn{
	position: relative;
	top: .2ch;
} 

.editTask{
    height: auto;
    width: 100px;
    height: 2em;
}

.hideme{
    display: none;
}

.editInput {
    width: 65%!important ;
    height: auto!important;
    padding:2px!important;
}

#completed{
    border-left: 1px solid; 

}
#completedlist{
     /*color:  #EE6E73;*/
    text-decoration: line-through;
    color: #EE6E73;
}

#todo{
    border-right: 1px solid;    
}

h5{
    color: #EE6E73  ;
}

span.left,  span.right{
    font-size: 14px;
}

/*#completed li:nth-child(even), #todolist li:nth-child(even){
   background-color: #706D69 ;  
    border-radius: 3px;   
}*/

#completed li, #todolist li{
    border-bottom: solid 1px #706D69;
}
#completed li, #todolist li{
    overflow: auto;
}

ul li{
    /*background-color: #D9EDF7;*/  
    border-radius: 2px;
    padding-right: 10px;    
}

#todolist li:hover, #completed li:hover{
    /*background-color: #fffaf0; */
    background-color: #A09D97;
}

#modal1{
    height:200px ;
    width:400px;
}

#deleteAll{
    position: fixed;
    bottom: 0;
    left: 0;
}

#menu{
    position: fixed;
    bottom: 0;
    right: 0;
}

#toast-container {
    position: fixed !important;
    top: 0px !important;
    left: 10px !important;
}

#reflex{
    padding: 10%;
    max-width: 60%;
    color: #FFF;
}