/*--------GENERAL------*/
#container{
	max-width: 800px;
	margin:0 auto;
	background: #FFF;
    min-height: 100vh; 
    /*background: url(../img/paper.png) repeat;*/
}

h1{
    padding: 0;
    margin:0;
}
body{
	background: #4682b4;
    /*background: url(../img/stardust.png) repeat;*/
	font-weight: 600;
}
.material-icons{
	font-size: 20px !important;
    color: #ccc;
}

.doneBtn:hover, .done, .editBtn:hover{
	color: #008080;
    cursor: pointer;
}

.delBtn:hover{
	color: #d50000;
    cursor: pointer;
}
.doneBtn, .delBtn, .editBtn{
	position: relative;
	top: .2ch;
} 

.editTask{
    height: auto;
    width: 100px;
    height: 2em;
}

.hideme{
    display: none;
}

.editInput {
    width: 65%!important ;
    height: auto!important;
    padding:2px!important;
}

#completed{
    border-left: 1px solid; 
   
}
#completedlist{
     color: #008080;
    text-decoration: line-through;
}

#todo{
    border-right: 1px solid;    
}

h5{
    color: #EE6E73  ;
}

span.left,  span.right{
    font-size: 14px;
}

#completed li:nth-child(odd), #todolist li:nth-child(odd){
    background-color: #F5F2F0 ;    
}
#completed li, #todolist li{
    overflow: auto;
}

ul li{
    /*background-color: #D9EDF7;*/  
    border-radius: 2px;
    padding-right: 10px;    
}

#todolist li:hover, #completed li:hover{
    background-color: #fffaf0; 
}

#modal1{
    height:200px ;
    width:400px;
}

#deleteAll{
    position: fixed;
    bottom: 0;
    left: 0;
}

#toast-container {
    position: fixed !important;
    top: 0px !important;
    left: 10px !important;
}

#reflex{
    padding: 10%;
    max-width: 60%;
    color: #FFF;
}