/*--------GENERAL------*/
#container{
	max-width: 800px;
	margin: auto;
	background: #FFF;
}
body{
	background: steelblue;
	font-weight: 600;
}
.material-icons{
	font-size: 20px !important;
    color: #eeeeee;
}

.doneBtn:hover{
	color: #008080;
}
.done{
    color: #008000;
}
.editBtn:hover{
	color: #008080;
}
.delBtn:hover{
	color: #d50000;
}
.editBtn, .delBtn, .doneBtn{
	position: relative;
	top:4px;
} 
   
/* label focus color */
   .input-field input[type=text]:focus + label {
     color: red;
     background-color: lightpink !important;
   }